/* Respeitar a ordem do html (boa prática) */
/* Referenciar TODAS as tags (Resete CSS) */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');
html * {
    margin: 0;
}

body {
    text-align: center;
    background-image: url(https://bit.ly/3gPx8YT);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: 190vh;
    background-attachment: fixed;
    font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
}

#cabecalho {
    background-color: #383635b6;
    height: 8vh;
    color: white;
    text-align: center;
}

#conteudo {
    background-color: rgba(0, 0, 0, 0.6);
    border: dotted 1px black;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 82vh;
    color: white;
    text-align: center;
}

.frase1 {
    padding-top:17px;
    font-weight: normal;
}

.frase2 {
    padding-top:5px;
    font-weight: normal;
}

.frase3 {
    padding-top: 10px;
    line-height: 30px;
}

p {
    margin: 20px;
    font-size: 20px;
    color: white;
    line-height: 5px;
}

.frase3 {
    font-weight: bold;
    color: rgb(155, 35, 35)
}

mark {
    background-color: rgb(155, 35, 35, 0.7);
    padding: 3px;
}

ul {
    list-style-type:none;
    line-height:25px;
    padding-left:0;
}

#rodape {
    padding-top:10px;
    height: 10vh;
    background-color: #535353e3;
    color: white;
}

.icones {
    width: 50px;
}